/* Styling Body */
body {
  background-color:black;
  font-family: arial;
  color: white;
  
}

/* Styling h1 */
h1{
  color:grey;
  font-family: verdana;
  margin-bottom: 24px;
  font-size:24px;
}

/* Styling Input Elements */
.maindiv{
  color: black;
  background-color:#fff;
  width:300px;
  padding: 20px;
  border-radius: 25px;
  margin: auto;
  font-size: 12px;
}

.row{
  display: inline-block;
  padding: 8px 6px;
  margin: 2px 0px;
}

/* Styling Button */
#btn{
  padding: 8px;
  margin: 4px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: #143d59;
  color: #f4b41a;
}

#btn:hover{
  font-size: 15px;
  color: #e71989;
  background-color: #ffe042 ;
  cursor: pointer;
}

/* Styling Display */
#result{
  display: none;
  margin: 5px;
  padding: 5px;
}

/* Styling Footer */
footer{
  font-style: italic;
  font-size: 0.8em;
  margin: 0 auto;
}

.yellow{
  background-color: yellow;
  color: red;
}
